<html>
	<head>
		<meta charset="utf-8">
		<title>Todo list</title>
		<link rel="stylesheet" type="text/css" href="/main.css">
	</head>
	<body>
		<h1>Todo list</h1>
		<ul class="main-menu">
			<li><a href="/tasks">View tasks</a></li>
			<li><a href="/tasks/create">Create task</a></li>
		</ul>
		{{{body}}}
	</body>
</html>
